#### Imports

In [1]:
import pandas as pd
import numpy as np
import string
import nltk 
from nltk.corpus import stopwords
import re
import string
from nltk.tokenize import word_tokenize
from sqlalchemy import create_engine

## Clean and preprocess data

In [2]:
pd.set_option('display.max_colwidth', None)

In [3]:
# load data into csv
df_testdata = pd.read_csv("trainingandtestdata/testdata.manual.2009.06.14.csv")

In [4]:
df_testdata.head()

,4,3,Mon May 11 03:17:40 UTC 2009,kindle2,tpryan,"@stellargirl I loooooooovvvvvveee my Kindle2. Not that the DX is cool, but the 2 is fantastic in its own right."
0,4,4,Mon May 11 03:18:03 UTC 2009,kindle2,vcu451,Reading my kindle2... Love it... Lee childs is good read.
1,4,5,Mon May 11 03:18:54 UTC 2009,kindle2,chadfu,"Ok, first assesment of the #kindle2 ...it fucking rocks!!!"
2,4,6,Mon May 11 03:19:04 UTC 2009,kindle2,SIX15,@kenburbary You'll love your Kindle2. I've had mine for a few months and never looked back. The new big one is huge! No need for remorse! :)
3,4,7,Mon May 11 03:21:41 UTC 2009,kindle2,yamarama,@mikefish Fair enough. But i have the Kindle2 and I think it's perfect :)
4,4,8,Mon May 11 03:22:00 UTC 2009,kindle2,GeorgeVHulme,@richardebaker no. it is too big. I'm quite happy with the Kindle2.

There are no column names set for the data frame. We will set the column names manually regarding to http://help.sentiment140.com/for-students

In [5]:
colnames=['polarity', 'id', 'date', 'query', 'username', 'text'] 
df_testdata = pd.read_csv("trainingandtestdata/testdata.manual.2009.06.14.csv", names=colnames, header=None)

In [6]:
df_testdata.head()

,polarity,id,date,query,username,text
0,4,3,Mon May 11 03:17:40 UTC 2009,kindle2,tpryan,"@stellargirl I loooooooovvvvvveee my Kindle2. Not that the DX is cool, but the 2 is fantastic in its own right."
1,4,4,Mon May 11 03:18:03 UTC 2009,kindle2,vcu451,Reading my kindle2... Love it... Lee childs is good read.
2,4,5,Mon May 11 03:18:54 UTC 2009,kindle2,chadfu,"Ok, first assesment of the #kindle2 ...it fucking rocks!!!"
3,4,6,Mon May 11 03:19:04 UTC 2009,kindle2,SIX15,@kenburbary You'll love your Kindle2. I've had mine for a few months and never looked back. The new big one is huge! No need for remorse! :)
4,4,7,Mon May 11 03:21:41 UTC 2009,kindle2,yamarama,@mikefish Fair enough. But i have the Kindle2 and I think it's perfect :)

do the same for the training data

In [7]:
df_trainingdata = pd.read_csv("trainingandtestdata/training.1600000.processed.noemoticon.csv",encoding="latin-1", names=colnames, header=None)

In [8]:
df_trainingdata.head()

,polarity,id,date,query,username,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by texting it... and might cry as a result School today also. Blah!
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Managed to save 50% The rest go out of bounds
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all. i'm mad. why am i here? because I can't see you all over there."

#### Combine dataframes

In [9]:
frames = [df_trainingdata, df_testdata]
df_data = pd.concat(frames)

#### Check if there is data imbalance

In [10]:
df_data.groupby('polarity')['polarity'].count()

polarity
0    800177
2       139
4    800182
Name: polarity, dtype: int64

#### Remove tweets with polarity of 2 from data

In [11]:
df_data.drop(df_data[df_data.polarity == 2].index, inplace=True)

In [12]:
df_data.groupby('polarity')['polarity'].count()

polarity
0    800038
4    800182
Name: polarity, dtype: int64

#### Remove date and query columns

In [13]:
df_data = df_data[["polarity", "id", "text"]]

In [14]:
df_data.head()

,polarity,id,text
0,0,1467810369,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
1,0,1467810672,is upset that he can't update his Facebook by texting it... and might cry as a result School today also. Blah!
2,0,1467810917,@Kenichan I dived many times for the ball. Managed to save 50% The rest go out of bounds
3,0,1467811184,my whole body feels itchy and like its on fire
4,0,1467811193,"@nationwideclass no, it's not behaving at all. i'm mad. why am i here? because I can't see you all over there."

#### Change to binary classification model
Change polarity of value 4 to 1, so that a '0' represents a negative and '1' a positive tweet

In [15]:
df_data['polarity'] = np.where(df_data['polarity'] == 4, 1, df_data['polarity'])

#### Check uniqueness

In [16]:
print('number of unique ids ', df_data['text'].nunique())
print('total number of tweets ', len(df_data))

number of unique ids  1581689
total number of tweets  1600220

We can see that there a duplicate ids in our data set. Lets see how many tweets are duplicates and also check for the text column at the same time

In [17]:
duplicates = df_data[df_data.duplicated(subset=['text'])]

In [18]:
print(len(duplicates))

18531

In [19]:
duplicates.head()

,polarity,id,text
1940,0,1468267465,and so the editing of 3000 wedding shots begins
2149,0,1468316454,"im lonely keep me company! 22 female, california"
3743,0,1468664220,"I'm not liking that new iTunes Pricing at all. I mean, I've seen several songs at $1.29, but not only one at $0.69!"
3746,0,1468664704,"cant eat, drink or breath properly thanks to the bad throat infection"
4163,0,1468756463,has a cold

In [20]:
df_data[df_data['id'] == 1467863684]

,polarity,id,text
213,0,1467863684,Awwh babs... you look so sad underneith that shop entrance of &quot;Yesterday's Musik&quot; O-: I like the look of the new transformer movie
800261,1,1467863684,Awwh babs... you look so sad underneith that shop entrance of &quot;Yesterday's Musik&quot; O-: I like the look of the new transformer movie

In [21]:
df_data = df_data.drop_duplicates(subset=['text'])

In [22]:
len(df_data)

1581689

##### Clean tweets. Remove mentions and links

In [10]:
#nltk.download('stopwords')
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [49]:
words = stopwords.words('english')
words.append("i'm")
words_set = set(words)
tr_table = str.maketrans('', '', string.punctuation)
def cleanTweets(tweet):
    #remove mentions
    tweet = re.sub(r'@[A-Za-z0-9]+', '', tweet)
    # remove hashtags
    tweet = re.sub(r'#', '', tweet)
    # remove links
    tweet = re.sub(r'https?:\/\/\S+', '', tweet)
    tweet = re.sub(r'http?:\/\/\S+', '', tweet)
    tweet = tweet.lower()
    # remove stop words
    text_tokens = word_tokenize(tweet)
    tokens_without_sw = [word for word in text_tokens if not word in words_set]
    new_tweet = (" ").join(tokens_without_sw) 
    # remove punctuation
    new_tweet = new_tweet.translate(tr_table)  
    # remove words with only 2 or less characters
    text_tokens = word_tokenize(new_tweet)
    tweet_with_words_longer_than_3 = [word for word in text_tokens if len(word) >=3]
    new_tweet = (" ").join(tweet_with_words_longer_than_3)   
    if new_tweet == '' or new_tweet == ' ':
        return tweet
    else:
        return new_tweet

In [37]:
df_data['text'] = df_data['text'].apply(cleanTweets)

In [38]:
df_data = df_data[['polarity', 'text']]

In [44]:
df_data

,polarity,text
0,0,awww bummer shoulda got david carr third day
1,0,upset update facebook texting might cry result school today also blah
2,0,dived many times ball managed save rest bounds
3,0,whole body feels itchy like fire
4,0,behaving mad see
...,...,...
492,1,using latex lot typeset mathematics looks hideous
494,0,note hate word hate pages hate latex said hate latex texn3rds come kill
495,1,ahhh back real text editing environment latex
496,0,trouble iran see hmm iran iran far away flockofseagullsweregeopoliticallycorrect
497,0,reading tweets coming iran whole thing terrifying incredibly sad

In [45]:
df_data.to_csv("train_cleaned_new.csv",index=False)

#### Setting up hand made test set with at least 10 tweets

In [46]:
list_of_tweets = [
                {"polarity": 4, "id" : 1, "text" : "This is so fun"}, # create duplicates
                {"polarity": 4, "id" : 1, "text" : "This is so fun"}, # create duplicates
                 {"polarity": 4, "id" : 1, "text" : "I like Machine Learning!!"},
                 {"polarity": 4, "id" : 1, "text" : "Ohhh, I love this movie! I can't wait to see it in the cinema. The actors are great!"},
                 {"polarity": 4, "id" : 1, "text" : "I liked this book so much, I am a huge fan of the author."},
                 {"polarity": 4, "id" : 1, "text" : "This is brilliant"},
                 {"polarity": 4, "id" : 1, "text" : "Cannot wait to see them live in concert. They are my favorite band #"},
                 {"polarity": 4, "id" : 1, "text" : "Loved his new song. His album is also great. :)"},
                 {"polarity": 4, "id" : 1, "text" : "The weather is nice today"},
                 {"polarity": 4, "id" : 1, "text" : "Amsterdam is a beautiful city"}, 
                 {"polarity": 0, "id" : 1, "text" : "I did not like his new song. It sounds boring"},
                 {"polarity": 0, "id" : 1, "text" : "I am so sad, the weather is bad today"},
                 {"polarity": 0, "id" : 1, "text" : "I think it is stupid"},
                 {"polarity": 0, "id" : 1, "text" : "I don't like brokkoli, it's disgusting."},
                 {"polarity": 0, "id" : 1, "text" : "This movie is too scary for me."},
                 {"polarity": 0, "id" : 1, "text" : "That is terrifying."},
                 {"polarity": 0, "id" : 1, "text" : "I am crying, I failed my test today"},
                 {"polarity": 0, "id" : 1, "text" : "That's so sad, I am feeling lonely :("},
                 {"polarity": 0, "id" : 1, "text" : "I don't understand how people do not hate him"},
                 {"polarity": 0, "id" : 1, "text" : "I am feeling so sick today. I am gonna skip class"}]

In [47]:
custom_test_df = pd.DataFrame(list_of_tweets)

In [48]:
custom_test_df.head()

,polarity,id,text
0,4,1,This is so fun
1,4,1,This is so fun
2,4,1,I like Machine Learning!!
3,4,1,"Ohhh, I love this movie! I can't wait to see it in the cinema. The actors are great!"
4,4,1,"I liked this book so much, I am a huge fan of the author."

In [50]:
# combine preprocess steps in one method
words = stopwords.words('english')
words.append("i'm")
def preprocess(df):
    # drop observations where polarity is 2
    df.drop(df[df.polarity == 2].index, inplace=True)
    
    # remove unnecessary columns
    df = df[["polarity", "id", "text"]]
    
    # check for duplicate observations where id and text appear more than one time and drop them
    df = df.drop_duplicates(subset=['id', 'text'])
    
    # set polarity of 4 to 1
    df['polarity'] = np.where(df['polarity'] == 4, 1, df['polarity'])
    
    # remove id column since we don't need it anymore
    df = df[["polarity", "text"]]
    
    # remove stop words, @mentions, hyperlinks and other punctuation from tweet
    df['text'] = df['text'].apply(cleanTweets)
    
    return df

In [51]:
custom_test_df_cleaned = preprocess(custom_test_df)

In [52]:
custom_test_df_cleaned

    polarity                                          text
0          1                                           fun
2          1                         like machine learning
3          1  ohhh love movie wait see cinema actors great
4          1               liked book much huge fan author
5          1                                     brilliant
6          1           wait see live concert favorite band
7          1               loved new song album also great
8          1                            weather nice today
9          1                      amsterdam beautiful city
10         0                   like new song sounds boring
11         0                         sad weather bad today
12         0                                  think stupid
13         0                      like brokkoli disgusting
14         0                                   movie scary
15         0                                    terrifying
16         0                      crying failed test today
17         0                            sad feeling lonely
18         0                        understand people hate
19         0             feeling sick today gon skip class

### Save cleaned data to database

In [53]:
# create db first in MySQL
engine = create_engine('mysql+pymysql://root:{myPassword}@localhost:3306/{myDatabase}')

In [55]:
# save sentiment140's cleaned data to database
df_data.to_sql(name='twitter_data',con=engine,if_exists='fail',index=False)

1581689

In [57]:
# save custom and cleaned data set to database
custom_test_df_cleaned.to_sql(name='custom_twitter_data',con=engine,if_exists='fail',index=False)

19